<div class="form-container" style="width:50%">
    <mat-form-field>
        <input matInput placeholder="company" [(ngModel)]="address.company">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="street1" [(ngModel)]="address.street1">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="street2" [(ngModel)]="address.street2">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="city" [(ngModel)]="address.city">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="state" [(ngModel)]="address.state">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="zip" [(ngModel)]="address.zip">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="phone" [(ngModel)]="address.phone">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="create()">create</button>
</div>
<div style="margin-top : 10px">
    {{result.content}}

</div>